img {
    width: 150;
    height: auto;
}

.container{
    flex: 1;
    flex-direction: row;
}

.content{
    width: 100%;
    text-align: center;
} 

.contentTitle{
    font-size: 3rem;
    margin-top: 30px;
}

.contentBody{
    font-size: 1.4rem;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}