p{
    margin: 10px;
}
.deviceContainer{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.categories{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productName, .productNameDetails{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
}

.producent, .productNameList, .dataDeviceInfo, .productNameDetails{
    color: black;
    opacity: 0.5;
    font-size: 1.4rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin: 0px 0px 5px 0px;
    padding: 7px 3px 0px 3px;
}

.productNameList{
    display: flex;
    flex-direction: row; 
}

.productNameDetails{
    cursor: none;
    display: flex;
    align-items: center;
}

.dataDeviceInfo{
    font-size: 2rem;
    width: 50%;
    height: 200px;
    opacity: 1;
    text-align: left;
    font-weight: bold;
}
  
/* Style the active class (and buttons on mouse-over) */
.active, .producent:hover, .productNameList:hover {
  background-color: #666;
  color: white;
  font-weight: bold;
}

