@import url(https://fonts.googleapis.com/css?family=Livvic&display=swap);

html, body {
  font-family: 'Livvic', sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container{
  padding-left: 40%;
}

.deviceDetailsContainer{
  flex: 1;
  flex-direction: column;
  padding: 30% 10%;
  line-height: normal;
}

.roomType{
  width: fit-content;
  height: 50px;
}

.p{
  width: max-content;
  line-height: normal;
}


.plan {
  margin: 25px 35%;
  width: 400px;
  height: 400px;
}

.room {
  position: relative;
  border: black 5px solid; 
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.room:before {         /* window */
  content: "";
  position: absolute;
}

.room:after {           /* door */
  content: "";
  position: absolute;
}

.roomName {
  margin-left: auto;
	margin-right: auto;
  font-weight: bold; 
  font-size: 1.2em;
  color: #328da8;
}

.start {
  position: relative;
  top: 53px;
  left: -20px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ad1A06;
}

/******************************************/
/*  ROOMS                                 */
/******************************************/
div[class^="room"]:nth-child(2) {
  left: 0;
  top: 0;
  width: 180px;
  height: 77px;
  border-left-color: transparent;  
  border-right-color: transparent; 
}

/* Front door (first half)*/
div[class^="room"]:nth-child(2):before {  
  left: -2px;
  bottom: -2px;
  height: 33px;
  width: 25px;
  border-width: 3px 2px 2px 2px;
  border-style: double solid solid solid;
  border-color: black black black transparent;
  border-radius: 0 0 27px 0;
  -moz-border-radius: 0 0 27px 0;
  -webkit-border-radius: 0 0 27px 0;
}  

/* Front door (first half)*/
div[class^="room"]:nth-child(2):after {
  top: -2px;
  left: -2px;
  height: 33px;
  width: 25px;
  border-width: 2px 2px 3px 2px;
  border-style: solid solid double solid;
  border-color: black black black transparent;
  border-radius: 0 27px 0  0;
}

div[class^="room"]:nth-child(3) {
  left: 173px;
  top: -77px;
  width: 207px;
  height: 160px;
  border-left-color: transparent; 
  line-height: 100px;  /*FIXME: center text*/
}

div[class^="room"]:nth-child(3):before {
  top: -4px;
  left: 45%;
  width: 60px;
  border-top: 2px solid #fff; 
}

div[class^="room"]:nth-child(3):after {
  left: 25px;
  bottom: -5px;
  height: 30px;
  width: 30px;
  border-width: 2px 2px 6px 3px;
  border-style: solid solid solid double;
  border-color: black black #f7f7f7 black;
  border-radius: 0 32px 0 0;
  -moz-border-radius: 0 32px 0 0;
  -webkit-border-radius: 0 32px 0 0;
}

div[class^="room"]:nth-child(4) {
  left: 1px;
  top: -165px;
  width: 177px; 
  height: 140px; 
  line-height: 100px;  
}

div[class^="room"]:nth-child(4):before {
  top: 30px;
  left: -4px;
  height: 60px;
  border: 1px solid #fff; 
}

div[class^="room"]:nth-child(4):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
  -moz-border-radius: 32px 0 0 0;
  -webkit-border-radius: 32px 0 0 0;
}

div[class^="room"]:nth-child(5) {
  left: 1px;
  top: -169px;
  width: 177px; 
  height: 140px; 
  line-height: 100px;  
}

div[class^="room"]:nth-child(5):before {
  top: 30px;
  left: -4px;
  height: 60px;
  border: 1px solid #fff; 
}

div[class^="room"]:nth-child(5):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
  -moz-border-radius: 32px 0 0 0;
  -webkit-border-radius: 32px 0 0 0;
}

div[class^="room"]:nth-child(6) {
  left: 175px;
  top: -392px;
  width: 205px; 
  height: 213px; 
  line-height: 208px;  
  border-top: transparent;
  border-left: transparent;
}

div[class^="room"]:nth-child(6):before {
  top: 30px;
  right: -4px;
  height: 60px;
  border: 1px solid #fff; 
}